<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" href="../styles/focus.css">
    </head>
    <body>
      <div class="warning">
        <h1 id="stop">STOP!</h1>
        <h1 id="goBack">GO BACK TO YOUR PRIORITIES</h1>
        <br/>
        <p id="comeBack">... and maybe come back in</p>
        <br/>
        <label id="timer">Calculating time left</label>
      </div>
      <br/>
      <br/>
      <h2 id="youBlocked">Here is the list of sites YOU set to block yourself from</h2>
      <div class="horizontal-line"></div>
      <div id="sitesList"></div>
      <script src="../src/focus.js"></script>
    </body>
  </html>
