<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" href="../styles/focus.css">
    </head>
    <body>
      <div class="warning">
        <h1>STOP!</h1>
        <h1>GO BACK TO YOUR PRIORITIES</h1>
        <br/>
        <p class="maybe">... and maybe come back in</p>
        <br/>
        <label id="timer">Calculating time left</label>
      </div>
      <br/>
      <br/>
      <h2>Here is the list of sites <span style="font-size: 45px;">  YOU  </span> set to block yourself from</h2>
      <div class="horizontal-line"></div>
      <div id="sitesList"></div>
      <script src="../src/focus.js"></script>
    </body>
  </html>
