<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" href="../styles/popup.css">
    </head>
    <body>
      <div class="sites">
        <form>
          <input type="text" id="siteName">
        </form>
        <button id="addSite" class="addSite">Add</button>
      </div>
      <h3 id="blockingSites">Blocking Site List</h3>
      <div class="horizontal-line"></div>
      <div id="sitesList"></div>
      <div class="control">
        <form>
            <input type="text" id="hourVal">
            <label id="hours">Hours</label>
            <input type="text" id="minVal">
            <label id="mins">Minutes</label>
        </form>
        <button class="start" id="start"></button>
      </div>
      <p id="warning">You CANNOT disable it once you start</p>
      <script src="../src/popup.js"></script>
    </body>
  </html>
